<h2 class="inner-pages-heading"><%= @user.username %>'s Page</h2>

<%= gravatar_for @user, size: 200 %>

<div class="text-center mt-4">
  <%= link_to "Edit your details", edit_user_path(@user), class: "btn btn-outline-info" %>
</div>

<h3 class="mt-5 mb-3 text-center">Articles</h3>

<div class="flickr_pagination mb-2">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'articles/article' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
