<div class="container" id="home-container">
  <div class="jumbotron">
    <div class="container" id="jumbotron_inner_container">
      <h1 class="display-4"><%= Article.last.title %></h1>
      <p class="lead"><%= simple_format(Article.last.description.truncate(100)) %></p>
    </div>
  </div>
</div>

<div class="container" id="secondary_contents_container">

  <div class="card shadow mb-5 bg-white rounded" style="float:left;margin-right:1rem" id="article_2">
    <h5 class="card-title"><%= Article.second_to_last.title %></h5>
    <p class="card-text"><%= simple_format(Article.second_to_last.description.truncate(100)) %></p>
    <a href="#" type="button" class="btn btn-light"">Go to article</a>
  </div>

  <div class="card shadow mb-5 bg-white rounded" style="float:left;margin-right:1rem" id="article_2">
    <h5 class="card-title"><%= Article.third_to_last.title %></h5>
    <p class="card-text"><%= simple_format(Article.third_to_last.description.truncate(100)) %></p>
    <a href="#" type="button" class="btn btn-light"">Go to article</a>
  </div>

  <div class="card shadow mb-5 bg-white rounded" style="padding:1%" id="article_4">
    <h5 class="card-title"><%= Article.order(id: :desc).fourth.title %></h5>
    <p class="card-text"><%= simple_format(Article.order(id: :desc).fourth.description.truncate(100)) %></p>
    <a href="#" type="button" class="btn btn-light"">Go to article</a>
    </div>
  </div>

</div>
